@charset "UTF-8";
html {
  font-size: 62.5%;
}

main {
  box-sizing: content-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px; /* 1rem = 10px */
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: black;
}

h1 {
  font-size: 5.5rem;
}

h2 {
  font-size: 4.5rem;
}

h3 {
  margin: 1rem 1rem;
  padding: 1rem 0;
  font-size: 3.5rem;
  white-space: nowrap;
  text-align: center;
}

header {
  border-bottom: 0.5rem solid black;
}
header ul {
  list-style-type: none;
  background-color: black;
}

#boton-comprar {
  margin: 2rem 0;
  font-family: "Montserrat";
  font-size: 2rem;
  letter-spacing: 0.5rem;
  background-color: black;
  border-radius: 0.5rem;
  border: solid 0.3rem;
}
#boton-comprar a {
  color: white;
  font-size: 2.5rem;
}
#boton-comprar:hover {
  color: black;
  background-color: white;
  border: solid 0.3rem;
  transform: scale(1.15);
  transition-duration: 2000ms;
}
#boton-comprar:hover a {
  color: black;
}

.nav-sitio a {
  padding: 0 3rem;
  font-size: 4rem;
  color: white;
  border-radius: 0.5rem;
}
.nav-sitio li a:hover {
  color: black;
  transition-duration: 1s;
}
.nav-sitio li:hover {
  background-color: white;
  color: black;
  transition-duration: 1s;
  border-radius: 0.5rem;
}

#navbarSupportedContent {
  background-color: black;
  justify-content: center;
}

#navegacion {
  display: flex;
  justify-content: center;
  background-color: black;
}

.nav-item a {
  margin: 0rem 5rem;
  padding: 0 3rem;
  font-size: 4rem;
  color: white;
  border-radius: 0.5rem;
}
.nav-item li a:hover {
  color: black;
  transition-duration: 1s;
}
.nav-item li:hover {
  background-color: white;
  color: black;
  transition-duration: 1s;
  border-radius: 0.5rem;
}

.navbar-toggler-icon {
  width: 4rem;
  height: 4rem;
}

.nav-user {
  background-color: white;
  height: 3rem;
  border-bottom: solid black 0.3rem;
}
.nav-user a {
  display: flex;
  padding: 0 1rem;
}

.seccion-sale {
  border-bottom: 0.5rem solid black;
  background-color: #c6c6c6;
  margin: 0;
  padding: 0;
  height: 60rem;
}
.seccion-hombre {
  border-bottom: 0.5rem solid black;
  background-color: #BE8C63;
  margin: 0;
  padding: 0;
  height: 60rem;
}
.seccion-mujer {
  border-bottom: 0.5rem solid black;
  background-color: #FFE6E6;
  margin: 0;
  padding: 0;
  height: 60rem;
}
.seccion-niños {
  border-bottom: 0.5rem solid black;
  background-color: #CDF0EA;
  margin: 0;
  padding: 0;
  height: 60rem;
}

.contenedor-art {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contenedor-art p {
  margin: 0;
}

.box-descripcion {
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 40rem;
  height: 59.5rem;
}

.texto-seccion {
  padding: 3rem 0;
}

footer h4 a {
  color: white;
  font-size: 2rem;
}
footer .caja-footer h4 {
  font-size: 2rem;
}
footer .caja-footer p {
  font-size: 1.3rem;
  margin-bottom: 2px;
  padding: 0;
}

.caja-home-bg {
  border-bottom: 5px solid black;
  background-color: black;
}

#boton-home a {
  color: white;
}

.caja-footer {
  background-color: #c6c6c6;
}

.caja-ubicacion p {
  font-size: 1.5rem;
}

.caja-nosotros {
  grid-area: caja-nosotros;
  margin: 0rem;
}

.caja-dudas {
  grid-area: caja-dudas;
  margin: 0rem;
}

@media (max-width: 480px) {
  /* FONT-SIZING */
  h1 {
    font-size: 3rem;
    grid-area: logo;
  }
  h2 {
    padding: 0;
    grid-area: titulo;
    font-size: 3rem;
  }
  h3 {
    font-size: 2rem;
    margin: 0;
    justify-content: center;
    text-align: center;
  }
  .nav-sitio {
    padding: 1rem;
    width: 100vw;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav-sitio a {
    font-size: 2rem;
    padding: 1.5rem;
  }
  .nav-sitio-bg li {
    font-size: 1.5rem;
  }
  .seccion p {
    grid-area: art-descripcion;
    font-size: 1.5rem;
  }
  .contenedor-art {
    grid-area: contenedor-art;
  }
  .seccion-sale {
    padding: 0.2rem;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5% 55% 40%;
    grid-template-areas: "titulo" "imagen-art" "contenedor-art";
  }
  .seccion-hombre {
    padding: 0.2rem;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5% 55% 40%;
    grid-template-areas: "titulo" "imagen-art" "contenedor-art";
  }
  .seccion-mujer {
    padding: 0.2rem;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5% 55% 40%;
    grid-template-areas: "titulo" "imagen-art" "contenedor-art";
  }
  .seccion-niños {
    padding: 0.2rem;
    width: 100%;
    margin: 0rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5% 55% 40%;
    grid-template-areas: "titulo" "imagen-art" "contenedor-art";
  }
  footer {
    display: flex;
    flex-direction: column;
    grid-area: footer;
  }
  footer .caja-footer h4 {
    font-size: 1rem;
    text-decoration: underline;
  }
  footer .caja-footer p {
    font-size: 0.7rem;
  }
  footer .caja-uibicacion p {
    font-size: 0.7rem;
  }
  .caja-home-bg {
    margin: auto;
    width: 100vw;
    align-items: center;
    justify-content: space-around;
    grid-area: caja-home;
  }
  .caja-cambios {
    grid-area: caja-cambios;
    margin: 0rem;
  }
  .caja-seguinos {
    grid-area: caja-seguinos;
    margin: 0rem;
  }
  .caja-ubicacion {
    grid-area: caja-ubicacion;
    margin: 0rem;
  }
  .caja-nosotros {
    grid-area: caja-nosotros;
    margin: 0rem;
  }
  .caja-dudas {
    grid-area: caja-dudas;
    margin: 0rem;
  }
  .caja-footer {
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 20% 80%;
    grid-template-areas: "caja-home caja-home caja-home caja-home caja-home" "caja-seguinos caja-ubicacion caja-cambios caja-nosotros caja-dudas";
  }
  .caja-iframe {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
  }
  .caja-iframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  #boton-comprar {
    width: 30rem;
    margin: 0.5rem 0;
    font-family: "Montserrat";
    font-size: 1.5rem;
    letter-spacing: 0.3rem;
    background-color: black;
    border-radius: 0.5rem;
    border: solid 0.3rem;
  }
  #boton-comprar a {
    color: white;
    font-size: 1.5rem;
  }
  #boton-comprar:hover {
    color: black;
    background-color: white;
    border: solid 0.3rem;
    transform: scale(1.15);
    transition-duration: 2000ms;
  }
  #boton-comprar:hover a {
    color: black;
  }
  .box-descripcion {
    padding: 1rem 0;
    justify-content: center;
    align-items: center;
    height: auto;
  }
}
/* ESTILIZADO DE ARTICULOS/PRODUCTOS */
#productos {
  background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("../img/salebackground.png");
}
#productos h2 {
  background-color: gray;
  text-align: center;
}
#productos-hombre {
  background-color: rgba(190, 140, 99, 0.6);
  background-size: cover;
}
#productos-mujer {
  background-color: rgba(255, 230, 230, 0.6);
}
#productos-niño {
  background-color: rgba(205, 240, 234, 0.6);
}
#productos-talles {
  background-color: rgba(255, 230, 230, 0.6);
}

article h3 {
  text-align: center;
}

.item-producto {
  background-color: white;
  width: 25rem;
  margin: 5rem auto;
  border: solid 0.3rem;
  border-radius: 0.6rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.item-producto p {
  margin: 1rem;
  padding: 1rem;
}
.item-producto a {
  text-decoration: none;
  text-align: center;
  color: var(--blanco);
  background-color: var(--secundario);
  border-radius: 0.5rem;
  border: solid;
  padding: 1rem;
}
.item-producto a:hover {
  background-color: var(--blanco);
  color: var(--secundario);
  border: solid;
}
.item-producto1 {
  grid-area: item-producto1;
}
.item-producto2 {
  grid-area: item-producto2;
}
.item-producto3 {
  grid-area: item-producto3;
}
.item-producto4 {
  grid-area: item-producto4;
}
.item-producto5 {
  grid-area: item-producto5;
}
.item-producto6 {
  grid-area: item-producto6;
}
.item-producto7 {
  grid-area: item-producto7;
}
.item-producto8 {
  grid-area: item-producto8;
}
.item-producto9 {
  grid-area: item-producto9;
}
.item-producto10 {
  grid-area: item-producto10;
}
.item-producto11 {
  grid-area: item-producto11;
}
.item-producto12 {
  grid-area: item-producto12;
}

.contenedor-productos {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "item-producto1 item-producto2 item-producto3 item-producto4" "item-producto5 item-producto6 item-producto7 item-producto8" "item-producto9 item-producto10 item-producto11 item-producto12";
  align-items: center;
  justify-content: center;
}

/*# sourceMappingURL=styles-scss.css.map */
