#boton-comprar {
    margin: 2rem 0;
    font-family: 'Montserrat';
    font-size: 2rem;
    letter-spacing: 0.5rem;
    background-color: black;
    border-radius: 0.5rem;
    border: solid 0.3rem;
    a {
        color: white;
        font-size: 2.5rem;
    }
    &:hover {
        color: black;
        background-color: white;
        border: solid 0.3rem;
        transform: scale(1.15);
        transition-duration: 2000ms;
        a {
            color: black;
        }
    }
}
