footer{
    h4{ 
        a {
            color: white;
            font-size: 2rem; 
        }
    }
    .caja-footer{
        h4 {
            font-size: 2rem;
        }
        p {
            font-size: 1.3rem;
            margin-bottom: 2px;
            padding: 0;
        }
    }
    iframe {
        width: 230px;
        height: 150px;
    }
}


.caja- {
    &home-bg {
        border-bottom: 5px solid $color-secundario;
        background-color: $color-secundario;
    }
    &footer {
        background-color: $color-gris;
    }
    &ubicacion {
        p {
            font-size: 1.5rem;
        }
    }
    &nosotros {
        grid-area: caja-nosotros;
        margin: 0rem;
    }
    &dudas {
        grid-area: caja-dudas;
        margin: 0rem;
    }
}

#boton-home {
    a{
    color: $color-blanco;
    }
}
