.seccion{
    &-sale {
    border-bottom: 0.5rem solid black;
    background-color: #c6c6c6;
    margin: 0;
    padding: 0;
    height: 60rem;
    }
    &-hombre{
        border-bottom: 0.5rem solid black;
        background-color: #BE8C63;
        margin: 0;
        padding: 0;
        height: 60rem;  
    }
    &-mujer{
        border-bottom: 0.5rem solid black;
        background-color: #FFE6E6;
        margin: 0;
        padding: 0;
        height: 60rem;
    }
    &-niños {
        border-bottom: 0.5rem solid black;
        background-color: #CDF0EA;
        margin: 0;
        padding: 0;
        height: 60rem;
    }
}

.contenedor-art {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    p {
        margin: 0;
    }
    
}

.box-descripcion {
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 40rem;
    height: 59.5rem;
}

.texto-seccion {
    padding: 3rem 0;
}